/*Самый красивый H1 с 
персиковым фоном и 
розовыми буквами*/
.h1gr { 
	color: rgb(250,120,230); /*Цвет текста - розовый*/
	font-size: 60pt;
	text-align: center;
	background-color: rgb(250, 230, 210);
}